body {
    background-image: url("imagens\bg-masthead.jpg");
  }
  p {
    background-image: url("imagens\bg-masthead.jpg");
  }
  background-image: url(imagens\bg-masthead.jpg);
  
 .imagemContain {
    background-image: url(imagens\bg-masthead.jpg);
    background-color: #fff;
    color: #000;
    background-size: contain;
  }
 .imagem {
    background-image: url(imagens\bg-masthead.jpg);
    background-color: #fff;
    color: #000;
    background-size: 100%;
  }